@font-face {
  font-family: 'Conthrax';
  src: local('conthrax-sb'), url('../font/conthrax-sb.otf') format('otf');
}

@font-face {
  font-family: 'Airstrike';
  src: local('airstrike'), url('../font/airstrike.ttf') format('ttf');
}
