*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul, ol{
  list-style: none;
}
img {
  vertical-align: bottom;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
label:not(:first-child){
  margin-top: 2rem;
}
input{
  border: none;
  padding-inline: .3rem;
  padding-block: .5rem;
}
input[type=submit]{
  padding: .5rem;
  margin: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius : 10px;
}
textarea{
  resize: none;
  height: 5rem;
}
.error{
  color: red;
}
html{
  scroll-behavior: smooth;
  height: 100%;
}
body{
  font: 400 16px/1.4 Verdana, Arial, sans-serif;
  height: 100%;
}
h1, h2, h3, h4{
  text-wrap: balance;
}
p, span{
  text-wrap: pretty;
}

.wrap {
  max-width: 1439px;
  width: 100%;
  margin: 0 auto;
  padding-block: 2rem;
}
