@import "./font";

$mainColor : #4258f0;
$accentColor : #A6E6F6;
$btnColor : #9D9F39;
$writingColor : #2e2e2e;
$whiteWritingColor : #e6E6E6;

p, li, span{
  color: $writingColor;
  font-family: 'Conthrax', sans-serif;
  cursor: default;
}

input, input::placeholder{
  color: $writingColor;
  font-family: 'Conthrax', sans-serif;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6{
  color: $writingColor;
  font-family: 'Airstrike', sans-serif;
  font-size: 24px;
  cursor: default;
}

label{
  color: $writingColor;
  font-family: 'Airstrike', sans-serif;
  font-size: 18px;
  cursor: default;
}


