<div class="wrap-regle">
  <div class="regle-titre">
    <h3>{{title}}</h3>
  </div>

  <div class="regle-list">
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus eaque eius itaque laboriosam laborum minima quidem saepe unde vero?
      </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus eaque eius itaque laboriosam laborum minima quidem saepe unde vero?
      </li>

      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloribus eaque eius itaque laboriosam laborum minima quidem saepe unde vero?
      </li>
    </ul>
  </div>
</div>
