<div class="wrapper">
  <div class="header">
    <app-header></app-header>
  </div>

    <main>
      <section id="lore">
        <div class="wrap">
          <div class="book">

            <div id="p1" class="paper">
              <div class="front">
                <div class="front-content first">
                  <h2>Connaitre le monde</h2>
                  <button class="next" (click)="goToNextPage()">
                    <i class="{{nextArrow}}"></i>
                  </button>
                </div>
              </div>

              <div class="back">
                <div class="back-content">
                  <div class="content">
                    <app-page1></app-page1>
                  </div>
                  <button class="previous" (click)="goToPreviousPage()">
                    <i class="{{previousArrow}}"></i>
                  </button>
                </div>
              </div>
            </div>

            <div id="p2" class="paper">
              <div class="front">
                <div class="front-content">
                  <div class="content">
                    <app-page2></app-page2>
                  </div>
                  <button class="next" (click)="goToNextPage()">
                    <i class="{{nextArrow}}"></i>
                  </button>
                </div>
              </div>

              <div class="back">
                <div class="back-content last">
                  <p>Fin du rapport</p>
                  <button class="previous" (click)="goToPreviousPage()">
                    <i class="{{previousArrow}}"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="lore-nav">
            </div>
          </div>
        </div>
      </section>

      <section id="races">
        <div class="wrap">
          <div class="title">
            <h2>Les Races</h2>
          </div>
          <div class="cards">
            <div class="card">
              <div class="race-name">
                <h3>Race n°1</h3>
              </div>
              <div class="race-content">
                <ul>
                  <li class="resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci architecto
                    deleniti dolores iste laboriosam nulla obcaecati pariatur provident veniam.
                  </li>

                  <li class="bonus-stats first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, sint?</li>
                  <li class="bonus-stats">Alias doloremque eveniet iure minima neque recusandae soluta suscipit, vel.
                  </li>

                  <li class="bonus-comp first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, labore.</li>
                  <li class="bonus-comp">Accusamus commodi deleniti dolorum et fugiat in optio placeat quas?</li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="race-name">
                <h3>Race n°2</h3>
              </div>
              <div class="race-content">
                <ul>
                  <li class="resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda
                    consequuntur eaque laborum officiis! Ad esse libero neque qui suscipit.
                  </li>
                  <li class="bonus-stats first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, quae?</li>
                  <li class="bonus-stats">Accusantium debitis doloremque minima molestiae necessitatibus quam, sequi
                    ullam vero.
                  </li>
                  <li class="bonus-comp first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ea!</li>
                  <li class="bonus-comp">Adipisci consequuntur eius exercitationem facilis illum pariatur repudiandae
                    tenetur, totam!
                  </li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="race-name">
                <h3>Race n°3</h3>
              </div>
              <div class="race-content">
                <ul>
                  <li class="resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cum debitis enim est
                    eum magni minima necessitatibus, non quo unde?
                  </li>
                  <li class="bonus-stats first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, maiores?</li>
                  <li class="bonus-stats">Alias, animi facilis illum ipsa magni molestiae nulla odit quod.</li>

                  <li class="bonus-comp first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, sequi?
                  </li>
                  <li class="bonus-comp">Consequuntur culpa debitis doloribus eius illum libero magnam omnis, sint.</li>
                </ul>
              </div>
            </div>
            <div class="card">
              <div class="race-name">
                <h3>Race n°4</h3>
              </div>
              <div class="race-content">
                <ul>
                  <li class="resume">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cumque error
                    et, facere nihil possimus praesentium qui saepe sed totam.
                  </li>
                  <li class="bonus-stats first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, vel?</li>
                  <li class="bonus-stats">Aspernatur assumenda ducimus illo iusto, nam numquam repudiandae veritatis
                    vitae?
                  </li>
                  <li class="bonus-comp first">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, ratione.
                  </li>
                  <li class="bonus-comp">Culpa deleniti ea enim error harum itaque nesciunt quae ut.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
