<div class="wrapper">
  <div class="header">
    <app-header></app-header>
  </div>

    <main>
      <section id="lore">
        <div class="wrap">
          <div class="book">

            <div id="p1" class="paper">
              <div class="front">
                <div class="front-content first">
                  <h2>Connaitre le monde</h2>
                  <button class="next" (click)="goToNextPage()">
                    <i class="{{nextArrow}}"></i>
                  </button>
                </div>
              </div>

              <div class="back">
                <div class="back-content">
                  <div class="content">
                    <app-page1></app-page1>
                  </div>
                  <button class="previous" (click)="goToPreviousPage()">
                    <i class="{{previousArrow}}"></i>
                  </button>
                </div>
              </div>
            </div>

            <div id="p2" class="paper">
              <div class="front">
                <div class="front-content">
                  <div class="content">
                    <app-page2></app-page2>
                  </div>
                  <button class="next" (click)="goToNextPage()">
                    <i class="{{nextArrow}}"></i>
                  </button>
                </div>
              </div>

              <div class="back">
                <div class="back-content last">
                  <p>Fin du rapport</p>
                  <button class="previous" (click)="goToPreviousPage()">
                    <i class="{{previousArrow}}"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
    </main>

    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
