@import "../../../styles";

section{
  margin-bottom: 64px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;

  main{
    flex-grow: 1;
    background-color: $mainColor;

    #lore{
      height: calc(100dvh - 117px);

      .wrap{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .book{
          width: 35%;
          height: 100%;
          position: relative;

          .paper{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            perspective: 1500px;

            .front, .back{
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              position: absolute;
              transform-origin: left;
              transition: transform .5s;
              background-color: $accentColor;
            }

            .front{
              z-index: 1;
              backface-visibility: hidden;
              border-left: 3px solid white;
            }

            .back{
              z-index: 0;
            }

            .front-content, .back-content{
              width: 100%;
              height: 100%;

              i{
                font-size: 1.8rem;
              }
            }

            .front-content.first, .back-content.last{
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $secondColor;

              h3{
                color: $whiteWritingColor;
                text-shadow:
                  -1px -1px 0 #000,
                  1px -1px 0 #000,
                  -1px 1px 0 #000,
                  1px 1px 0 #000;
              }
            }

            .back-content{
              transform: rotateY(180deg);
            }

            .content{
              text-align: justify;
              height: calc(100% - 30px);
              padding: .5rem;
            }

            .front-content button, .back-content button{
              width: 40px;
              height: 30px;
              background: transparent;
              border: none;
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 10;

              &:hover{
                cursor: pointer;
              }
            }
          }

          #p1{
            z-index : 2;
          }

          #p2{
            z-index: 1;
          }

          .flipped .front, .flipped .back{
            transform: rotateY(-180deg);

            .back-content button{
              left: 0;
            }
          }
        }
      }
    }

    #races {
      .wrap {
        .races-cards {
          height: 100%;
        }

        .title {
          text-align: center;
          padding: 1rem;
          background: $secondColor;

          h2{
            color: $whiteWritingColor;
          }
        }

        .cards {
          display: flex;
          gap: 7px;
          height: 100%;

          .card {
            background: $accentColor;
            width: calc(100% / 4);
            flex-grow: 1;
            padding: 1rem .5rem .5rem;
            display: flex;
            flex-direction: column;

            .race-name {
              background: $secondColor;
              margin-bottom: 1rem;
              text-align: center;

              h3{
                color: $whiteWritingColor;
              }
            }

            .race-content {
              background: $secondColor;
              flex-grow: 1;
              ul {
                list-style: none;

                .resume, .bonus-stats, .bonus-comp {
                  color: $whiteWritingColor;
                  padding-left: 1.5rem;
                  position: relative;
                }
                .resume:before, .bonus-stats:before, .bonus-comp:before {
                  content: "•";
                  position: absolute;
                  left: .5rem;
                  top: 0;
                  color: $whiteWritingColor;
                }

                .bonus-stats.first, .bonus-comp.first {
                  padding-top: 1rem;
                }

                .bonus-stats.first:before, .bonus-comp.first:before {
                  content: "•";
                  position: absolute;
                  left: .5rem;
                  top: 1rem;
                  color: $whiteWritingColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
