@import '../../../styles';

.wrap-classe{
    display: flex;
    flex-direction: column;

    .classe-titre{
      text-align: center;
      background: $secondColor;
      padding: .3rem;

      h3{
        color: $whiteWritingColor;
      }
    }

    .classe-list{
      ul{
        list-style-type: disc;
        padding: .5rem 1rem;
        background: $secondColor;
        margin-top: 1rem;
        div:not(.resume){
          margin-top: 1rem;
        }
        div{
          padding-left: .5rem;

          li{
            color: $whiteWritingColor;
          }
        }
      }
    }
  }
