<header>
  <nav>
    <ul>
        <li class="logo" [routerLink]="''"><img src="{{logo}}" alt="logo de Galaventure"></li>
        <div>
          <li [routerLink]="'/lore'">{{header1}}</li>
        </div>
        <div>
          <li [routerLink]="'/regles'">{{header2}}</li>
        </div>
        <div>
          <li [routerLink]="'/mj'">{{header3}}</li>
        </div>
        <div>
          <li [routerLink]="'/joueur'">{{header4}}</li>
        </div>
        <div>
          <li [routerLink]="'/auth'">{{header5}}</li>
        </div>
    </ul>
  </nav>
</header>
