<div class="wrap-classe">
  <div class="classe-titre">
    <h3>{{title}}</h3>
  </div>

  <div class="classe-list">
    <ul>
      <div class="resume">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores atque debitis, distinctio dolorum eaque earum eveniet explicabo inventore molestias odit voluptatum? Alias animi deserunt provident qui, recusandae tenetur vel.</li>
      </div>

      <div class="stats">
        <li>Bonus de statistique</li>
        <li>Bonus de statistique</li>
      </div>

      <div class="comp">
        <li>Bonus de compétences</li>
        <li>Bonus de compétences</li>
      </div>
    </ul>
  </div>
</div>
