<div class="wrapper">
  <div class="header">
    <app-header></app-header>
  </div>

  <main>
    <section id="infos-parties">
      <div class="wrap">
        <div class="bandeau-parties">
          <div class="left">
            <div class="title">
              <h4>Vos Parties</h4>
            </div>

            <div class="recherche-parties">
              <input type="text" id="recherche_partie" name="recherche_partie" placeholder="Rechercher une partie">

              <button type="submit"><i class="{{logoRecherche}}"></i></button>
            </div>
          </div>

          <div class="right">
            <div class="triage-parties">
              <div class="input-and-arrows">
                <div class="creation-partie">
                  <input type="text" id="creation_partie" name="triage_partie" placeholder="Date de création" readonly>
                  <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                  </div>
                </div>
              </div>

              <div class="input-and-arrows">
                <div class="date-partie">
                  <input type="text" id="partie_jouee" name="triage_partie" placeholder="Date partie jouée" readonly>

                  <div class="arrows">
                    <div class="up"></div>
                    <div class="down"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ajout-partie">
              <button (click)="openDialog()" title="Créer votre partie"><i class="{{logoAdd}}"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="footer">
    <app-footer></app-footer>
  </div>

      <app-popup>
        <div class="content-wrap">
          <div class="popup-title">
            <h3>Création d'une partie</h3>
          </div>
          <div class="popup-content">
            <form action="" method="" novalidate>
              <div class="input-group">
                <label for="partie_name">Nom de la partie</label>
                <input type="text" name="create_partie" id="partie_name" placeholder="Rentrer le nom de votre partie">
                <span class="error"></span>
              </div>

              <div class="input-group players" #playersContainer>
                <label for="partie_players">Joueurs de la partie</label>
                <div class="input-and-add">
                  <input type="text" name="create_partie" id="partie_players" placeholder="Ajouter un joueur">
                  <div class="add-player" (click)="addInput()"><i class="{{logoMore}}"></i></div>
                </div>
                <span class="error"></span>

              </div>
            </form>

            <div class="btn-create-partie">
              <button type="submit">Créer votre partie</button>
            </div>
          </div>
        </div>
      </app-popup>
    </div>
