@import "../../../styles";

.wrap-regle {
  border-right: 1px solid $accentColor;
  padding: 1rem;
  height: 100%;

  .regle-titre {
    background: $secondColor;
    width: 100%;
    padding: 0.5rem;
    text-align: center;

    h3{
      color: $whiteWritingColor;
    }
  }

  .regle-list {
    ul {
      list-style-type: disc;
      padding: 0 1rem 0 1.5rem;
    }

    li {
      text-align: justify;
      padding-top: 1rem;
      color: $whiteWritingColor;
    }
  }
}

