@import "../../../styles";

section{
  margin-bottom: 64px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;

  main{
    flex-grow: 1;
    background-color: $mainColor;

    .all-regles{
      border: 1px solid $accentColor;
      border-right: transparent;
      display: flex;
    }

    #classes{
      .classe-titre{
        background: $secondColor;
        padding: 1rem;
        text-align: center;

        h3{
          color: $whiteWritingColor;
        }
      }

      .all-classes{
        display: flex;
        gap: .5rem;

        .classe{
          background: $accentColor;
          padding: 1rem;
        }
      }
    }
  }
}
