<div class="wrapper">
  <div class="header">
    <app-header></app-header>
  </div>

  <main>
    <div class="wrap">
      <section id="regles">
        <div class="all-regles">
          <div class="regles-commmunes">
            <app-reglesCom></app-reglesCom>
          </div>

          <div class="regles-joueurs">
            <app-reglesJoueurs></app-reglesJoueurs>
          </div>

          <div class="regles-mj">
            <app-reglesMJ></app-reglesMJ>
          </div>
        </div>
      </section>

      <section id="classes">
        <div class="classe-titre">
          <h3>Les classes</h3>
        </div>

        <div class="all-classes">
          <div class="classe">
            <app-classe1></app-classe1>
          </div>

          <div class="classe">
            <app-classe2></app-classe2>
          </div>

          <div class="classe">
            <app-classe3></app-classe3>
          </div>

          <div class="classe">
            <app-classe4></app-classe4>
          </div>
        </div>
      </section>
    </div>
  </main>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
