<div class="header">
  <app-header></app-header>
</div>

<main>

  <div *ngIf="showSuccessPopup" class="popup">
    <h2>Connexion réussie !</h2>
    <p>Vous pouvez maintenant créer vos parties et fiches de personnages !</p>
    <p>Partez à l'aventure !</p>
  </div>

  <section id="accueil">
    <div class="bg-img">
      <div class="wrap">
        <div class="title">
          <h1>Bienvenue sur {{title}} !</h1>
        </div>

        <div class="intro">
          <p>Consulter le lore, les règles et tout ce dont vous avez besoin en tant que joueur ou maître du jeu.</p>
          <p>Créer un compte pour pouvoir profiter pleinement de toutes les fonctionnalités !</p>
          <p>Rejoignez-nous et partez à l'aventure !</p>
        </div>
      </div>
    </div>
  </section>

  <section id="joueur">
    <div class="wrap">
      <div class="card-joueur">
        <div class="wrap-joueur">
          <div class="sub-title">
            <h2>En tant que joueur, vous pouvez ...</h2>
          </div>

          <div class="all-joueur">
            <div class="all-infos">
              <div class="img" style="background-image: url({{imageJ1}})"></div>

              <div class="content">
                <p>Créez votre fiche de personnage, utitilisez et modifiez la lors d'une partie avec vos amis !</p>
              </div>
            </div>

            <div class="all-infos">
              <div class="img" style="background-image: url({{imageJ2}})"></div>

              <div class="content">
                <p>Lancez vos dés, regardez ceux de vos amis. Tout ce dont vous avez besoin pour bien jouer !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="MJ">
    <div class="wrap">
      <div class="card-MJ">
        <div class="wrap-MJ">
          <div class="sub-title">
            <h2>En tant que maître du jeu, vous pouvez ...</h2>
          </div>

          <div class="all-MJ">
            <div class="all-infos">
              <div class="img" style="background-image: url({{imageMJ1}})"></div>

              <div class="content">
                <p>Créez des parties, des fiches de PNJ, utilisez et modifiez les durant la partie !</p>
              </div>
            </div>

            <div class="all-infos">
              <div class="img" style="background-image: url({{imageMJ2}})"></div>

              <div class="content">
                <p>Lancez vos dés, regardez ceux de vos joueurs et ayez accès à leurs fiches de personnages pour une meilleure efficacité durant les parties !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="footer">
  <app-footer></app-footer>
</div>
