<footer>
  <div class="footer-wrap">
    <ul class="liste-titre">
      <div class="rs-et-titre">
        <li>Rejoignez nos canaux de communication</li>

        <div class="rs">
          <div class="logo-rs rs1">
            <a href="https://discord.gg/XkM26wsuyA" target="_blank" rel="noopener noreferer"><i class="{{logoRS1}}"></i></a>
          </div>
          <div class="logo-rs rs2">
            <a [routerLink]="''"><i class="{{logoRS2}}"></i></a>
          </div>
          <div class="logo-rs rs3">
            <a [routerLink]="''"><i class="{{logoRS3}}"></i></a>
          </div>
        </div>

      </div>
      <div>
        <li>{{nb_campagne}} campagnes crées</li>
      </div>
      <div>
        <li>Mentions légales</li>
      </div>
    </ul>
  </div>
</footer>
