@import "../../../styles";

footer{
  border-top: 2px solid $whiteWritingColor;
  padding: 2rem 0 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: $mainColor;

  .footer-wrap{
    width: 90%;
    margin: 0 auto;

    .liste-titre{
      display: flex;
      justify-content: space-between;

      li{
        background-color: $secondColor;
        padding: .5rem 2rem;
        color: $whiteWritingColor;
        font-family: 'Airstrike', sans-serif;
        font-size: 20px;
      }

      .rs-et-titre{
        display: flex;
        flex-direction: column;

        .rs{
          display: flex;
          justify-content: center;
          gap: 2rem;

          .logo-rs{
            width: fit-content;
            height: fit-content;
            text-align: center;
            margin-top: 1rem;

            a{
              width: 100%;
              height: 100%;

              &:hover{
                cursor: pointer;
              }

              i{
                font-size: 30px;
                color: $accentColor;
                transition: color .5s;

                &:hover{
                  color: $secondColor;
                  //opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}
